name: Android APK Oluştur

on:
  push:
    branches: [ "main" ]

jobs:
  build_android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Bağımlılıkları İndir
        run: flutter pub get

      - name: APK Derle
        run: flutter build apk --release

      - name: APK'yı Yükle (Artifact)
        uses: actions/upload-artifact@v4
        with:
          name: su-ic-android-apk
          path: build/app/outputs/flutter-apk/app-release.apk
